* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;

}

.left {
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / 2;
}

.Logo {
    max-width: 100%;
    height: 120px;
}


.Layout1 > div {
    background-color: black;
    padding: 1em;
}


.Layout1{
    display: grid;
    grid-column: 70% 30%;
    grid-row-gap: 10px;
    background-color: white;
    color: white;

}

.PVZ1 {
    max-width: 100%;
    height: 200px;
}


.PVZ2{
    max-width: 100%;
    height: 200px;
}
